.arrow
{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left:-20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  /**
   * Dark Arrow Down
   */
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(4px);
  }
}