$fontExtension: ".ttf";
$importFonts: "Raleway-Black", "Raleway-Bold", "Raleway-Light", "Raleway-Regular";
@each $importFonts in $importFonts{
    @font-face{
        font-family: $importFonts;
        src: url("../fonts/" + $importFonts + $fontExtension);
    }
}

//Reset all standard stuff
body, html, div, p, h2{
    margin: 0;
    padding: 0;
    //overflow: hidden;
}

.MainHeader{
    
    height: 100vh;
    //overflow: scroll;    ///////////////////////////////////////////
    //overflow-x: hidden;  ///////////////////////////////////////////
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.PageBody{

    scroll-snap-align: start;
    
    height: 100vh;

    background-size: cover;
    //background-size: contain;
    //background-size: auto 80%;
    //background-size: 100%, 100%;

    background-repeat: no-repeat;
    //background-size: 50% 80%;
    background-color: #f8f8f8;
    background-position: center;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        font-size: 2.5em;
        margin-bottom: 12px;
        font-family: Raleway-Regular;
    }
    p{
        font-size: 1em;
        font-family: Raleway-Regular;
    }
    scroll-snap-align: start;
}


//////////////////////////////////////////////
// Change the lines below so they support absolute position.
//Have the text fade, and change on scroll via javascript.
//There should only be one section for the buttons ect, per page.
//Need to think of a system that can support this.
//////////////////////////////////////////////
.PageBodyText{
    //////////////////////////////////////////////
    position: fixed;
    top: 18%;
    //margin-top: 7%;
    left: 50%;
    right: 50%;
    
    text-align: center;
    h2{
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        //left: -2em;
    }
    p{
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        left: -8.5em;
        top: 60px;
    }
}

.PageButtonsContainer{
    //////////////////////////////////////////////
    //position: relative;
    position: fixed;
    top: 82%;
    //margin-top: 25%;
    //left: 42.5%;
}





.PageButton{
    width: 260px;
    margin: 16px;
    border: none;
    padding: 12px;
    cursor: pointer;
    border: 0px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 0.83em;
    font-family: Raleway-Regular;
    
    //margin: -100px;
    //margin-top: 200%;
    
}

////////////
//Without buttons being absolute, they can not slide with jquery animations on page load
////////////
.BtnBlack{
    background-color: rgba(23, 26, 32, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    //position:absolute;
    //left: -15vw;
    
}
.BtnWhite{
    background-color: rgba(244, 244, 244, 0.65);
    backdrop-filter: blur(8px);
    color: black;
    //position:absolute;
    //left: -0vw;

}

.PageBody a{
    color: black;
    //text-decoration: none;
    //border-bottom: 1px solid black;
}

.PageHeader{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 600;
}

//Button change
@media screen and (min-width: 20px) and (max-width: 600px) {
    .PageBodyText{
        top: 15%;
    }
    .BtnBlack{
        //background-color: aqua;
        margin-top: -25px;
        //margin-left: -9vw;
        width: 90vw;
    }
    .BtnWhite{
        //background-color: aquamarine;
        //margin-bottom: -100px;
        margin-top: 0px;
        //margin-left: -61vw;
        width: 90vw;
    }
    .PageButtonsContainer{
        left: 2%;
    }
    
  }
@media screen and (max-width: 800px) {
    #Model3{
        background-image: url("../images/Model3-M.jpg") !important;
    }
    #ModelY{
        background-image: url("../images/ModelY-M.jpg") !important;
    }
    #ModelS{
        background-image: url("../images/ModelS-M.jpg") !important;
    }
    #ModelX{
        background-image: url("../images/ModelX-M.jpg") !important;
    }
    #SolarPanels{
        background-image: url("../images/SolarPanels-M.jpg") !important;
    }
    #SolarRoof{
        background-image: url("../images/SolarRoof-M.jpg") !important;
    }
    #Charger{
        background-image: url("../images/Charger-M.jpg") !important;
    }
}
//Navbar change
@media screen and (min-width: 1200px) {
}
//Other
@media screen and (min-width: 1300px) {
}

//#Charger div h2{
//    color: red;
//}