#report-banner{
    background-color: white;
    width: 100vw;
    margin-top: -2%;
    padding: 18px;
    

    .center{
        margin: auto;
        width: 66vw;
        text-align: center;
        align-items: center;
    }
    a{
        color: black;
        font-family: Raleway-Regular, Arial, Helvetica, sans-serif;
        white-space: nowrap;
    }
}

.NavBarHeader{
    position: fixed;
    width: 99%;
    margin-top: -1%;
}

nav {
    display: flex;
    align-items: stretch;
        align-items: center;
    justify-content: center;
  }

nav > ul {
    display: flex;
    text-decoration: none;
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
nav ul li {
    list-style-type: none; 
    margin: 10px;
    white-space: nowrap;
}
.navLeft{
    flex-grow: 1;
    position: absolute;
    top: 1vh;
    left: 6vw;
}
.navMid{
    flex-grow: 4;
    position: absolute;
    top: 1vh;
}

.navRight{
    flex-grow: 1;
    margin-right: -3%;
    position: absolute;
    top: 1vh;
    right: 6vw;
}

.navRight li, .navMid li{
    list-style-type: none; 
    font-size: 0.95em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(23, 26, 32, 0.8);
    a{
        margin: -5px;
        display:black;
        color: black;
        text-decoration: none;
        display: block;
        padding: 10px;
        border-radius: 15px;
        -webkit-transition: background-color 400ms ease-in-out;
        -moz-transition: background-color 400ms ease-in-out;
        -o-transition: background-color 400ms ease-in-out;
        -ms-transition: background-color 400ms ease-in-out;
        transition: background-color 400ms ease-in-out;
        //position: absolute;
        font-family: Raleway-Light;
        font-weight: 1000;
        font-size: 0.55em;
    }
    a:hover{
        background-color: rgba(11, 11, 58, 0.05);
    }
}


.NavBarHeader a svg{
    margin-top: 20px;
    padding-bottom: 30px;
    margin-left: -75px;
    margin-right: 150px;
    color: black;
    height: 0.4em;
    //width: 1em;
}

@media screen and (max-width: 1200px) {
    .navMid{
        display: none;
    }
    .navRight{
        right: 2vw;
        li:nth-child(2), li:nth-child(1){ 
            display: none;
        }
        li:nth-child(3){
            background-color: rgba(11, 11, 58, 0.05);
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 15px;
            backdrop-filter: blur(8px);
        }
    }
    .NavBarHeader{
        margin-top: 10%;
    }
    #report-banner{
        margin-top: -10%;
    }


}